/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-image: url('../images/img12.jpg'); /* Background image path */
    background-size: cover;
    background-position: center;
    color: #333;
}

/* Header Styles */
header {
    background-color: rgba(76, 175, 80, 0.8);
    color: #fff;
    padding: 10px 0;
    width: 100%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.navbar-brand {
    font-size: 24px;
    font-weight: bold;
    color: #02ca48;
    text-decoration: none;
}

.navbar-nav {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-item {
    margin-left: 20px;
}

.nav-link {
    color: #000000;
    text-decoration: none;
    font-size: 16px;
    padding: 8px 12px;
    transition: background-color 0.3s ease;
}

.nav-link:hover {
    background-color: #4CAF50;
    border-radius: 4px;
}

/* Container Styles */
.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 1000px;
    margin-top: 20px; /* Adjusted margin */
}

/* Form Styles */
h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.appointment-form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.form-section {
    width: 45%;
}

.form-section h2 {
    text-align: center;
    margin-bottom: 10px;
    font-size: 18px;
    color: #333;
}

.form-group {
    margin-bottom: 10px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input {
    width: calc(100% - 20px);
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
}

.submit-btn {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
}

.submit-btn:hover {
    background-color: #45a049;
}

/* Footer Styles */
footer {
    background-color: rgba(76, 175, 80, 0.8);
    color: #fff;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    margin-top: auto;
}