/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f4f4;
    background-image: url('../images/img10 (2).jpg'); /* Set a static background image */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

header {
    background-color: rgba(76, 175, 80, 0.8);
    color: #fff;
    padding: 10px 0;
}

footer {
    background-color: rgba(76, 175, 80, 0.8);
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* Main content styles */
main {
    padding: 20px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    margin: 50px auto;
    width: 80%;
    border-radius: 10px;
}

/* Form styles */
form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 20px auto;
}

form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

form input[type="text"],
form input[type="email"],
form textarea {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

form textarea {
    resize: none;
}

form input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #45a049;
}