/* General body styling */
body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa; /* Light background color */
  margin: 0;
  padding: 0;
}

.frame {
  margin-top: 1.5em;
  width: 90%;
  left: 5%;
  position: relative;
}

.frame h1 {
  font-size: 2em;
  color: cornflowerblue;
  text-align: center;
}

.frame p {
  font-size: 1.25em;
  text-align: center;
}

.medCont {
  margin-top: 10px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 50px;
  justify-content: space-around;
  min-height: 500px;
}

.medCard {
  width: 300px;
  padding: 20px;
  border-radius: 10px;
  background-color: whitesmoke;
  box-shadow: 0 3px 5px silver;
}

.medCard img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  object-position: center;
}

.medCard .medBody{
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 5px;
}

.medCard form {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 5px;
}

.medCard form input {
  border: none;
  outline: none;
  padding: 3px 10px;
  border-radius: 5px;
  width: 100px;
  text-align: center;
  background-color: gainsboro;
}

.medCard form button {
  outline: none;
  border: none;
}

.medCard .medBody h5 {
  font-size: 1.25em;
  text-align: center;
  width: fit-content;
}

.medCard .medBody p {
  font-size: 1em;
  text-align: center;
  width: fit-content;
}

.medCard .addBtn {
  width: 100%;
  border-radius: 15px;
  background-color: #28a745;
  padding: 10px 5px;
  font-weight: 600;
  text-align: center;
  color: whitesmoke;
  transition: all ease-in-out .35s;
}


.medCard .addBtn:hover {
  background-color: rgb(0, 59, 0);
  text-decoration: none;
  box-shadow: 0 2px 3px silver;
}